<h1>Artists</h1>
<%= link_to 'New Artist', new_artist_path %>

<table class="table table-striped">
  <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><%= link_to 'Details', artist_path(artist) %></td>
      <td><%= link_to 'Delete', artist_path(artist),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
