<h3>Artist: <%= @artist.name %></h3>
<table>
  <p id="songs">Songs</p>
  <% @artist.songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
    </tr>
  <% end %>
</table>
<row>
  <button id="delete-artist" type="button" class="btn btn-default artist-back-button">
    <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
  </button>
  <button id="delete-artist" type="button" class="btn btn-danger">
    <%= link_to 'Delete', artist_path, class: 'artist-buttons-text-color',
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
  </button>
</row>
