<h1><%= @artist.name %> Details</h1>

<table id="table-top-margin" class="table table-striped">
  <th>Albums</th>
  <% @artist.albums.each do |album| %>
    <tr>
      <td><i><%= link_to album.title, album_path(album) %></i></td>
    </tr>
  <% end %>
</table>

<p>
<button id="delete-artist" type="button" class="btn btn-default artist-back-button">
  <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
</button>
<button id="delete-artist" type="button" class="btn btn-danger">
  <%= link_to 'Delete', artist_path(@artist), class: 'artist-buttons-text-color',
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
</button>
</p>
