<table>
  <tr>
    <td>
      <h2>
        <strong><%= @artist.name %></strong>
      </h2>
    </td>
    <tr><% @artist.songs.each do |song| %></tr>
    <td><%= song.title %></td>
  </tr>
  <% end %>
</table>
