<div class="row">
  <div class="col-lg-12">
    <%= image_tag "shutterstock-large.jpg", class: "welcome-image" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag "shutterstock-left.jpg", class: "front-page-images" %>
    <h2>Artist One!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet consectetur ligula. Praesent sit amet libero pharetra, mollis enim vel, interdum dolor. Phasellus posuere lorem non enim consequat, nec sollicitudin nisi placerat. Cras sollicitudin libero pulvinar mi mollis, sit amet rhoncus purus tempor. Etiam et lobortis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in mattis mauris. Curabitur nec odio felis.</p>
  </div>
  <div class="col-lg-4">
    <%= image_tag "shutterstock-middle.jpg", class: "front-page-images" %>
    <h2>Artist Two!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet consectetur ligula. Praesent sit amet libero pharetra, mollis enim vel, interdum dolor. Phasellus posuere lorem non enim consequat, nec sollicitudin nisi placerat. Cras sollicitudin libero pulvinar mi mollis, sit amet rhoncus purus tempor. Etiam et lobortis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in mattis mauris. Curabitur nec odio felis.</p>
  </div>
  <div class="col-lg-4">
    <%= image_tag "shutterstock-right.jpg", class: "front-page-images" %>
    <h2>Artist Three!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet consectetur ligula. Praesent sit amet libero pharetra, mollis enim vel, interdum dolor. Phasellus posuere lorem non enim consequat, nec sollicitudin nisi placerat. Cras sollicitudin libero pulvinar mi mollis, sit amet rhoncus purus tempor. Etiam et lobortis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec in mattis mauris. Curabitur nec odio felis.</p>
  </div>
</div>
