<h1>Songs</h1>
<%= link_to 'New Song', new_song_path %>

<table class="table table-striped">
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= link_to 'Details', song_path(song) %></td>
      <td><%= link_to 'Delete', song_path(song),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
