<h3>Song: <%= @song.title %></h3>
<table>
  <tr>
    <td><strong>by:</strong></td>
    <td><%= @song.artist %></td>
  </tr>
</table>
<row>
  <button id="delete-artist" type="button" class="btn btn-default artist-back-button">
    <%= link_to 'Back', :back, class: 'artist-buttons-text-color' %>
  </button>
  <button id="delete-artist" type="button" class="btn btn-danger">
    <%= link_to 'Delete', song_path, class: 'artist-buttons-text-color',
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
  </button>
</row>
