<h1>Albums</h1>
<p>
<button id="new-object-button" type="button" class="btn btn-default btn-xs"><%= link_to 'New Album', new_album_path %></button>
</p>

<table class="table table-striped">
  <% @albums.each do |album| %>
    <tr>
      <td><i><%= link_to album.title, album_path(album) %></i></td>
      <td id="push-right"><%= link_to 'Details', album_path(album) %></td>
      <td id="push-right"><%= link_to 'Destroy', album_path(album), class: "delete-red-text",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
