<!DOCTYPE html>
<html>
<head>
  <title>Music App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      </button>
      <a id="navbar-font" class="navbar-brand" href="/">Music App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" id="navbar-font" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artists <span class="caret"></span></a>
          <ul id="dropdown-background-color" class="dropdown-menu">
            <li><a href="/artists">Artists List</a></li>
            <li><a href="/artists/new">Add Artist</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" id="navbar-font" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Songs <span class="caret"></span></a>
          <ul id="dropdown-background-color" class="dropdown-menu">
            <li><a href="/songs">Songs List</a></li>
            <li><a href="/songs/new">Add Song</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="footer">
  </footer>
</body>
</html>
